<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="/css/styles.css">
      <script type="text/javascript" href="/js/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" href="/js/materialize.min.js"></script>

    <title>Books</title>
  </head>

  <body>
    <table>
      <thead>
        <tr>
          <td>Sprite</td>
          <td>Title</td>
          <td>Genre</td>
          <td>Authors</dt>
        </tr>
      </thead>

      <tbody>
        <% books.forEach((book) => { %>
          <tr>
            <td>
              <a href="/books/<%= book.id %>">
                <img src="<%= book.cover_url %>" alt="<%= book.title %>" />
              </a>
            </td>
            <td><%= book.title %></td>
            <td><%= book.genre %></td>
            <td>
            <% book.authors.forEach((author)=> { %>
            <li><%= `${author.first_name}`%></li>
            <%}); %>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
